<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IoT_Proj2"
        tools:targetApi="31">
        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".AdminZone"
            android:exported="false" />
        <activity
            android:name=".AppointmentStatusLecturer"
            android:exported="false" />
        <activity
            android:name=".AppointmentStatusStudent"
            android:exported="false" />
        <activity
            android:name=".CreateAppointmentStudent"
            android:exported="false" />
        <activity
            android:name=".ApplicationStatusAccepted"
            android:exported="false" />
        <activity
            android:name=".ApplicationStatusLecturer"
            android:exported="false" />
        <activity
            android:name=".ApplicationStatusStudent"
            android:exported="false" />
        <activity
            android:name=".VacancyBoardStudent"
            android:exported="false" />
        <activity
            android:name=".VacancyBoardLecturer"
            android:exported="false" />
        <activity
            android:name=".CreateVacancyLecturer"
            android:exported="false" />
        <activity
            android:name=".ResumeStudent"
            android:exported="false" />
        <activity
            android:name=".SignUpLecturer"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".ProfileLecturer"
            android:exported="false" />
        <activity
            android:name=".ProfileStudent"
            android:exported="false" />
        <activity
            android:name=".SignUpStudent"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.iot_proj2.SPECIALAUTH"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>